<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect directly accessed .php files to .html -->
                <rule name="Redirect PHP to HTML" stopProcessing="true">
                    <match url="^(.*)\.php$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}.html" redirectType="Permanent" />
                </rule>
                
                <!-- Internally rewrite .html to .php -->
                <rule name="Rewrite HTML to PHP" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
